<h1>Bienvenue dans ton espace {{ app.user.email }}</h1>

{#<div class="flex-table">#}
{#    <h3 class="flex-table__title">Mes événement à venir</h3>#}
{#    {% for party in lastParties %}#}
{#        <div class="flex-table__row flex-table__row--participate {% if loop.first %}flex-table__row--first{% endif %}">#}
{#            <div class="flex-table__case">#}
{#                <p>{{ party.name }}</p>#}
{#            </div>#}
{#            <div class="flex-table__case">#}
{#                <p>status</p>#}
{#                <p>lundi xx/xx/xx</p>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
{#</div>#}


{#<a href="{{ path('party_create') }}" class="btn btn__primary">{{ 'button.add.party'|trans}}</a>#}