{% set user = app.user %}
<h1>Bienvenue dans ton espace {{ user.username }}</h1>
<div class="party__reminder">
    {% for party in parties %}
        {% include "party/card_reminder.html.twig" %}
    {% endfor %}
</div>
<a href="{{ path('party_create') }}" class="btn btn__primary">{{ 'button.add.party'|trans}}</a>