<h1>{{ 'confirmation.email.title'|trans }}</h1>
<p>{{ 'confirmation.email.message'|trans({'%url%': signedUrl, '%expiresAtMessage%': expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') })|raw }}</p>
<p>{{ 'confirmation.email.footer'|trans }}</p>
