<div id="modal" class="modal" data-open-modal-button="{{ openButton }}">
    <div id="modal-content" class="modal__content hidden">
        {{ content|raw }}
        <button id="modal-submit-button" type="button" class="btn btn-secondary btn__modal">Fermer</button>
    </div>
</div>