<div id="modal" class="modal" data-open-modal-button="{{ openButton }}">
    <div id="modal-content" class="modal__content hidden">
        <div id="modal-content--dynamic">
            {{ content|raw }}
        </div>
        <button id="modal-close-button" type="button" class="btn btn-secondary btn__modal">Fermer</button>
    </div>
</div>