.calendar {
  display: flex;
  flex-direction: column;
  margin: 2px;
  &__number-participant {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    border-radius: 50%;
    border: solid black 1px;
    background-color: $clr-nb-participant;
    font-weight: bold;
    right: -6%;
    top: -8%;
    z-index: 1000;
  }
  &__body {
    position: relative;
    width: 30vw;
    height: 30vw;
    max-width: 140px;
    max-height: 140px;
    &--double {
      width: 60vw;
      height: 30vw;
      max-width: 280px;
      max-height: 140px;
      display: flex;
      flex-direction: row;
    }
  }
  &__bottom {
    border: solid black 1px;
    border-top: dashed black 1px;
    text-align: center;
    padding: 5px;
  }
}

.calendar-card {
  width: 30vw;
  height: 30vw;
  max-width: 140px;
  max-height: 140px;
  overflow: hidden;
  border: solid black 1px;
  border-bottom: none;
  border-radius: 5% 5% 1% 1%;

  &--double {
    &__left {
      border-radius: 5% 0 0 1%;
      border-right: none;
    }
    &__right {
      border-radius: 0 5% 1% 0;
      border-left: none;
    }
  }
  &__top {
    background-color: $clr-btn-secondary;
    height: 25%;
    border-bottom: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
  }
  &__body {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__day {
      height: 65%;
      font-size: 3.5rem;
      font-weight: bold;
    }
    &__month {
      height: 20%;
      font-size: 1rem;
    }
    &__hour {
      height: 15%;
      font-size: 0.7rem;
    }
  }
}

.date-separator {
  font-size: 3rem;
  font-weight: lighter;
  position: absolute;
  left: 43%;
  right: 57%;
  top: 30%;
}
.calendar-mini {
  position: relative;
  width: 20vw;
  height: 20vw;
  max-width: 60px;
  max-height: 60px;
  &-card{
    width: 25vw;
    height: 20vw;
    max-width: 60px;
    max-height: 60px;
    overflow: hidden;
    border: solid black 1px;
    border-radius: 5% 5% 1% 1%;
    &__top {
      background-color: $clr-btn-secondary;
      height: 20%;
      border-bottom: solid black 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.7rem;
    }
    &__body {
      height: 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__day {
        height: 50%;
        font-size: 1rem;
        font-weight: bold;
      }
      &__month {
        height: 25%;
        font-size: 0.7rem;
      }
      &__hour {
        height: 25%;
        font-size: 0.7rem;
      }
    }
  }
}