.calendar {
  position: relative;
  width: 40vw;
  height: 40vw;
  max-width: 170px;
  max-height: 170px;
  &-card{
    width: 40vw;
    height: 40vw;
    max-width: 170px;
    max-height: 170px;
    overflow: hidden;
    border: solid black 1px;
    border-radius: 5% 5% 1% 1%;
    &__top {
      background-color: $clr-btn-secondary;
      height: 20%;
      border-bottom: solid black 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      font-weight: bold;
    }
    &__body {
      height: 65%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__day {
        height: 75%;
        font-size: 5rem;
        font-weight: bold;
      }
      &__month {
        height: 15%;
        font-size: 1rem;
      }
      &__hour {
        height: 10%;
        font-size: 0.7rem;
      }
    }
    &__bottom {
      border-top: dashed black 1px;
      height: 15%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__number-participant {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8vw;
      height: 8vw;
      position: absolute;
      border-radius: 50%;
      border: solid black 1px;
      background-color: $clr-nb-participant;
      font-weight: bold;
      right: -6%;
      top: -6%;
      z-index: 1000;
    }
  }
}