.mini-date-separator {
  font-size: 1rem;
  font-weight: lighter;
  position: absolute;
  left: 43%;
  right: 57%;
  top: 25%;
}
.calendar-mini {
  position: relative;
  width: 65px;
  height: 65px;
  border: solid black 1px;
  border-radius: 5% 5% 1% 1%;
  overflow: clip;
  &--double {
  width: 130px;
  display: flex;
  flex-direction: row;
}
  &-card{
    width: 65px;
    height: 65px;
    overflow: hidden;
    background-color: white;
    &__top {
      background-color: $clr-btn-secondary;
      height: 20%;
      border-bottom: solid black 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.7rem;
    }
    &__body {
      height: 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__day {
        height: 50%;
        font-size: 1.3rem;
        font-weight: bold;
      }
      &__month {
        height: 25%;
        font-size: 0.7rem;
      }
      &__hour {
        height: 25%;
        font-size: 0.6rem;
      }
    }
  }
}