.party__reminder {
  width: 95%;
  display: flex;
  flex-direction: column;
  &__card {
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    background-color: $clr-white;
    border: $clr-line solid 1px;
    &__section {
      display: flex;
      flex-direction: row;
      justify-content: left;
      @media (min-width: 600px) {
        justify-content: space-around;
      }
      &--left{
        //width: 30%;
        margin: 8px 16px;
        @media (min-width: 600px) {
          display: flex;
          justify-content: center;
          width: 25%;
        }
      }
      &--center{
        margin: 8px 16px;
        display: flex;
        align-items: center;
      }
      &--right{
        margin: 8px 16px;
        @media (min-width: 600px) {
          width: 25%;
        }
      }
      &__detail {
        font-size: 0.7rem;
      }
      &--action {
        //justify-content: flex-end;
      }
      &__action {
        display: flex;
        font-size: 1rem;
        padding: 2px;
        margin: 2px;
        justify-content: flex-end;
      };
    }
  }
}