html {
  display: flex;
  min-height: 100vh;
}
body{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
* {
  font-size: 1.5rem;
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.7rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.7rem;
}


}