html {
  display: flex;
  min-height: 100vh;
  font-size: 100%;
}
body{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.link {
  color: #2b52d7;
  text-decoration: underline;
  &:hover {
    color: #603b9d;
    text-decoration: none;
  }
}
* {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  footer {
    width: 100%;
    margin-bottom: 3rem;
    padding: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media (min-width: 1000px) {
      height: 0px;
    }
  }

  .hidden {
    display: none;
  }
}