$clr-btn-primary: #bce8ff;
$clr-btn-secondary: #99f7ab;
$clr-btn-tertiary: #3e92cc;
$clr-btn-delete: #d8315b;
$clr-btn-edit: #ffeebc;

$clr-white: #ffffff;
$clr-line-principal: #63c476;
$clr-line: #a6a6a6;

$clr-card-success: #d2ffdc;
$clr-card-danger: #ffbfe0;
$clr-card-warning: #ffeebc;
$clr-card-self: #edffa8;
$clr-card-wait: #bce8ff;

$success: #63c476;
$success-border: #458d52;
$warning: #f7b500;
$warning-border: #ffd129;

$clr-nb-participant: #f79999;