$clr-btn-primary: #bce8ff;
$clr-btn-primary-hover: #56c5ff;
$clr-btn-secondary: #99f7ab;
$clr-btn-secondary-hover: #3af05d;
$clr-btn-tertiary: #529CD1;
$clr-btn-tertiary-hover: #235C85;
$clr-btn-delete: #E4728E;
$clr-btn-delete-hover: #A72042;
$clr-btn-edit: #ffeebc;
$clr-btn-edit-hover: #ffd456;

$clr-white: #ffffff;
$clr-line-principal: #63c476;
$clr-line: #a6a6a6;

$clr-card-success: #d2ffdc;
$clr-card-danger: #ffbfe0;
$clr-card-warning: #ffeebc;
$clr-card-self: #edffa8;
$clr-card-wait: #bce8ff;

$success: #63c476;
$success-border: #458d52;
$warning: #f7b500;
$warning-border: #ffd129;
$error: #ff6c6c;
$error-border: #ff9898;

$clr-nb-participant: #f79999;

$clr-comment-self: #c3ffcc;
$clr-comment: #d0edff;
$clr-comment-table: rgba(0, 0, 0, 0.04);