<a
        href="{{ path('party_show', {slug: party.slug}) }}"
        class="
            party__reminder__card
            {% if party.creator is same as user %}party__reminder__card--success{% endif %}"
>
    <div class="party__reminder__card__section">
        <div class="party__reminder__card__section--left">{{ party.name }}</div>
        <div class="party__reminder__card__section--right">
            <div class="party__reminder__card__section__detail">{{ party.location.city }}</div>
            <div class="party__reminder__card__section__detail">Lundi 12 février 20h00</div>
        </div>
    </div>
</a>