.btn{
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  &__eye {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 1.8rem;
    bottom: 0;
    &--login {
      right: 0.7rem;
    }
  }
  &__primary {
    background-color: $clr-btn-primary;
    @include text-clr($clr-btn-primary);
    &:hover {
      @include hover-clr($clr-btn-primary);
    }
  }
  &__secondary {
    background-color: $clr-btn-secondary;
    @include text-clr($clr-btn-secondary);

    &:hover {
      @include hover-clr($clr-btn-secondary);
    }
  }
  &__tertiary {
    background-color: $clr-btn-tertiary;
    @include text-clr($clr-btn-tertiary);

    &:hover {
      @include hover-clr($clr-btn-tertiary);
    }
  }
  &__delete {
    background-color: $clr-btn-delete;
    @include text-clr($clr-btn-delete);

    &:hover {
      @include hover-clr($clr-btn-delete);
    }
  }
  &__edit {
    background-color: $clr-btn-edit;
    @include text-clr($clr-btn-edit);
    &:hover {
      @include hover-clr($clr-btn-edit);
    }
  }
}