.btn{
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1.2rem;
  &__eye {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 1.8rem;
    bottom: 0;
    &--login {
      right: 0.7rem;
    }
  }
  &__primary {
    background-color: $clr-btn-primary;
    &:hover {
      background-color: $clr-btn-primary-hover;
    }
  }
  &__secondary {
    background-color: $clr-btn-secondary;

    &:hover {
      background-color: $clr-btn-secondary-hover;
    }
  }
  &__tertiary {
    background-color: $clr-btn-tertiary;

    &:hover {
      color: $clr-white;
      background-color: $clr-btn-tertiary-hover;
    }
  }
  &__delete {
    background-color: $clr-btn-delete;

    &:hover {
      color: $clr-white;
      background-color: $clr-btn-delete-hover;
    }
  }
  &__edit {
    background-color: $clr-btn-edit;
    &:hover {
      background-color: $clr-btn-edit-hover;
    }
  }
  &__disabled {
    background-color: transparent;
    border: none;
  }
  &__modal {
    width: 100%;
    margin: 4px 0;
  }
  &__message {
    margin: 4px 0;
  }
}