.flash__container {
  position: relative;
}
.flash {
  position: fixed;
  left: 24px;
  right: 24px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  animation: 5s ease-in 2000ms 1 normal both running slide-out;
  @media (min-width: 768px) {
    animation: 5s ease-in 2000ms 1 normal both running slide-out-monitor;
  }
  @keyframes slide-out { from { top: 0.5rem } to { top: -2000px; }  }
  @keyframes slide-out-monitor { from { top: 3.5rem } to { top: -2000px; }  }
  &-card {
    border-radius: 15px;
    border: solid 2px;
    padding: 8px 5px;
    margin: 2px;
    display: flex;
    justify-content: center;
    z-index: 2;
  }
  &__message {
    text-align: justify;
  }
  &--success{
    border-color: $success-border;
    background-color: $success;
  }
  &--warning {
    border-color: $warning-border;
    background-color: $warning;
  }
  &--error {
    border-color: $error-border;
    background-color: $error;
  }
}