.card {
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  &__title {
    margin: 10px;
  }
  &__section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &--left {
      width: 60%;
      margin: 2px;
      align-self: center;
    }
    &--right {
      margin: 2px;
      align-self: center;
    }
    &__detail {
      font-size: 0.7rem;
    }
    &--action {
      //justify-content: flex-end;
    }
    &__action {
      display: flex;
      font-size: 1rem;
      padding: 2px;
      margin: 2px;
      justify-content: flex-end;
    };
    &__list {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  &--success {
    border:$clr-line-success 2px solid;
    color: mediumseagreen;
  }
}