.tab-bar {
  &__list {
    height: 3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-self: center;
    border-top: solid $clr-line 3px;
    background: #fff;
    z-index: 1000;
    @media (min-width: 1000px) {
      position: initial;
      border-top: none;
      border-bottom: solid $clr-line 2px;
    }
    &__link {
      margin: 10px;

      &--active {
        text-decoration: underline;
      }
    }
  }
  &__icon {
  }
  &__text {
    font-size: 0.6rem;
  }
}