.tab-bar {
  &__list {
    position: fixed;
    bottom: 0;
    width: 100%;
    align-self: center;
    border-top: solid $clr-line 5px;
    @media (min-width: 1000px) {
      position: initial;
      border-top: none;
      border-bottom: solid $clr-line 2px;
    }
    &__link {
      margin: 10px;

      &--active {
        text-decoration: underline;
      }
    }
  }
}