@mixin hover-clr($clr) {
  $bg-clr: black;
  @if ( lightness($clr) < 25% ) {
    $bg-clr: lighten($clr, 20%);
  } @else {
    $bg-clr: darken($clr, 20%);
  }
  background-color: $bg-clr;
  @if ( lightness($bg-clr) < 30% ) {
    color: white;
  } @else {
    color: black;
  }
}

@mixin text-clr($clr) {
  @if ( lightness($clr) < 25% ) {
    color: white;
  }
  @else {
    color: black;
  }
}