$clr-btn-primary: #1f4dbd;
$clr-btn-secondary: #99f7ab;
$clr-btn-tertiary: #3e92cc;
$clr-btn-delete: #d8315b;
$clr-btn-edit: #fed18c;

$clr-white: #ffffff;
$clr-line-principal: #63c476;
$clr-line-success: #63c476;
$clr-line: #393424;

