<div class="party__reminder__card__section">
    <div class="party__reminder__card__section--left">{{ date.startingAt|format_datetime('full', locale='fr')|slice(0, -3) }}</div>
    <div class="party__reminder__card__section--right">
    </div>
</div>