{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h1>Profil</h1>
    <p>{{ user.username }}</p>
    <p>adresse</p>
    <div class="block__overview">
        {% for location in user.locations %}
            {% include "location/card_overview.html.twig" %}
        {% endfor %}
    </div>
    <a href="{{ path('location_create') }}" class="btn btn__primary">ajouter une adresse</a>
{% endblock %}
